@media only screen and (max-width: 768px) {
  .mobile-forget-password {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
  }
}
.mobile-forget-password {
  display: none;
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 25px;
}
@media only screen and (max-width: 990px) {
  .mobile-forget-password {
    display: block !important;
  }
}
.forget-password-h {
  font: normal normal bold 22px/24px Raleway;
  letter-spacing: 0px;
  color: #589da6;
}
.forget-password-p {
  color: white;
  text-align: left;
  font: normal normal normal 18px/24px Raleway;
  letter-spacing: 0px;
  margin-top: 20px;
}
p {
  margin: 0 0 10px;
}

.forget-password-l {
  color: #589da6;
  text-decoration: none;
  font: normal normal bold 20px/24px Raleway;
}
